# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# FORD documentation output
ford_doc/

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

structure.ods
venv*
build/
ford/_version.py
docs/_build/

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
src/actions.f90
src/albedo.f90
src/allocate_parms.f90
src/aqu_1d_control.f90
src/aqu_cs_output.f90
src/aqu_initial.f90
src/aqu_pest_output_init.f90
src/aqu_pesticide_module.f90
src/aqu_pesticide_output.f90
src/aqu_read_elements.f90
src/aqu_read_init_cs.f90
src/aqu_read_init.f90
src/aqu_read.f90
src/aqu_salt_output.f90
src/aqu2d_init.f90
src/aqu2d_read.f90
src/aquifer_module.f90
src/aquifer_output.f90
src/ascrv.f90
src/atri.f90
src/aunif.f90
src/basin_aqu_pest_output.f90
src/basin_aquifer_output.f90
src/basin_ch_pest_output.f90
src/basin_chanbud_output.f90
src/basin_chanmorph_output.f90
src/basin_channel_output.f90
src/basin_ls_pest_output.f90
src/basin_module.f90
src/basin_output.f90
src/basin_print_codes_read.f90
src/basin_prm_default.f90
src/basin_read_cc.f90
src/basin_read_objs.f90
src/basin_read_prm.f90
src/basin_recall_output.f90
src/basin_res_pest_output.f90
src/basin_reservoir_output.f90
src/basin_sdchannel_output.f90
src/basin_sw_init.f90
src/cal_allo_init.f90
src/cal_cond_read.f90
src/cal_conditions.f90
src/cal_parm_read.f90
src/cal_parm_select.f90
src/cal_parmchg_read.f90
src/calhard_control.f90
src/calibration_data_module.f90
src/calsoft_ave_output.f90
src/calsoft_control.f90
src/calsoft_hyd_bfr_et.f90
src/calsoft_hyd_bfr_latq.f90
src/calsoft_hyd_bfr_perc.f90
src/calsoft_hyd_bfr_pet.f90
src/calsoft_hyd_bfr_surq.f90
src/calsoft_hyd_bfr.f90
src/calsoft_hyd.f90
src/calsoft_plant_zero.f90
src/calsoft_plant.f90
src/calsoft_read_codes.f90
src/calsoft_sed.f90
src/calsoft_sum_output.f90
src/caltsoft_hyd.f90
src/carbon_coef_read.f90
src/carbon_module.f90
src/carbon_read.f90
src/cbn_rsd_decomp.f90
src/cbn_zhang2.f90
src/ch_cs_module.f90
src/ch_cs_output.f90
src/ch_initial.f90
src/ch_pesticide_module.f90
src/ch_rchinit.f90
src/ch_read_elements.f90
src/ch_read_hyd.f90
src/ch_read_init_cs.f90
src/ch_read_init.f90
src/ch_read_nut.f90
src/ch_read_orders_cal.f90
src/ch_read_parms_cal.f90
src/ch_read_sed.f90
src/ch_read_temp.f90
src/ch_read.f90
src/ch_rtday.f90
src/ch_rthr.f90
src/ch_rtmusk.f90
src/ch_rtpath.f90
src/ch_rtpest.f90
src/ch_salt_module.f90
src/ch_salt_output.f90
src/ch_ttcoef.f90
src/ch_watqual4.f90
src/cha_pesticide_output.f90
src/channel_data_module.f90
src/channel_module.f90
src/channel_output.f90
src/channel_surf_link.f90
src/channel_velocity_module.f90
src/chg_par.f90
src/cli_atmodep_time_control.f90
src/cli_bounds_check.f90
src/cli_clgen.f90
src/cli_dstn1.f90
src/cli_hmeas.f90
src/cli_initwgn.f90
src/cli_lapse.f90
src/cli_petmeas.f90
src/cli_pgen.f90
src/cli_pgenhr.f90
src/cli_pmeas.f90
src/cli_precip_control.f90
src/cli_read_atmodep_cs.f90
src/cli_read_atmodep_salt.f90
src/cli_read_atmodep.f90
src/cli_rhgen.f90
src/cli_slrgen.f90
src/cli_smeas.f90
src/cli_staread.f90
src/cli_tgen.f90
src/cli_tmeas.f90
src/cli_weatgn.f90
src/cli_wgnread.f90
src/cli_wmeas.f90
src/cli_wndgen.f90
src/climate_control.f90
src/climate_module.f90
src/cn2_init_all.f90
src/cn2_init.f90
src/cntbl_read.f90
src/co2_read.f90
src/command.f90
src/cond_integer_c.f90
src/cond_integer.f90
src/cond_real_c.f90
src/cond_real.f90
src/conditional_module.f90
src/conditions.f90
src/cons_prac_read.f90
src/constit_db_read.f90
src/constit_hyd_mult.f90
src/constituent_mass_module.f90
src/copy_file.f90
src/cs_aqu_read.f90
src/cs_aquifer.f90
src/cs_balance.f90
src/cs_cha_read.f90
src/cs_data_module.f90
src/cs_fert_read.f90
src/cs_fert_wet.f90
src/cs_fert.f90
src/cs_hru_init.f90
src/cs_hru_read.f90
src/cs_irr_read.f90
src/cs_irrig.f90
src/cs_lch.f90
src/cs_module.f90
src/cs_plant_read.f90
src/cs_rain.f90
src/cs_rctn_aqu.f90
src/cs_rctn_hru.f90
src/cs_reactions_read.f90
src/cs_sorb_aqu.f90
src/cs_sorb_hru.f90
src/cs_str_output.f90
src/cs_uptake_read.f90
src/cs_uptake.f90
src/cs_urban_read.f90
src/curno.f90
src/define_unit_elements.f90
src/dr_db_read.f90
src/dr_module.f90
src/dr_path_read.f90
src/dr_read_hmet.f90
src/dr_read_om.f90
src/dr_read_pest.f90
src/dr_read_salt.f90
src/dr_ru.f90
src/dtbl_flocon_read.f90
src/dtbl_lum_read.f90
src/dtbl_res_read.f90
src/dtbl_scen_read.f90
src/ee.f90
src/erfc.f90
src/ero_cfactor.f90
src/ero_eiusle.f90
src/ero_ovrsed.f90
src/ero_pkq.f90
src/ero_ysed.f90
src/erosion_module.f90
src/et_act.f90
src/et_pot.f90
src/exco_db_read.f90
src/exco_module.f90
src/exco_read_hmet.f90
src/exco_read_om.f90
src/exco_read_path.f90
src/exco_read_pest.f90
src/exco_read_salt.f90
src/fcgd.f90
src/fert_parm_read.f90
src/fertilizer_data_module.f90
src/field_read.f90
src/flow_dur_curve.f90
src/flow_hyd_ru_hru.f90
src/gcycl.f90
src/gwflow_canl_out.f90
src/gwflow_canl.f90
src/gwflow_chan_read.f90
src/gwflow_chem.f90
src/gwflow_gwet.f90
src/gwflow_gwsw.f90
src/gwflow_module.f90
src/gwflow_ppag.f90
src/gwflow_ppex.f90
src/gwflow_read.f90
src/gwflow_rech.f90
src/gwflow_resv.f90
src/gwflow_satx.f90
src/gwflow_simulate.f90
src/gwflow_soil.f90
src/gwflow_tile.f90
src/gwflow_wetl.f90
src/hcsin_output.f90
src/hcsout_output.f90
src/header_aquifer.f90
src/header_channel.f90
src/header_const.f90
src/header_cs.f90
src/header_hyd.f90
src/header_lu_change.f90
src/header_mgt.f90
src/header_path.f90
src/header_pest.f90
src/header_reservoir.f90
src/header_salt.f90
src/header_sd_channel.f90
src/header_snutc.f90
src/header_water_allocation.f90
src/header_wetland.f90
src/header_write.f90
src/header_yield.f90
src/hmet_hru_aqu_read.f90
src/hru_allo.f90
src/hru_carbon_output.f90
src/hru_control.f90
src/hru_cs_output.f90
src/hru_dtbl_actions_init.f90
src/hru_fr_change.f90
src/hru_hyds.f90
src/hru_lte_control.f90
src/hru_lte_module.f90
src/hru_lte_output.f90
src/hru_lte_read.f90
src/hru_lum_init_all.f90
src/hru_lum_init.f90
src/hru_module.f90
src/hru_output_allo.f90
src/hru_output.f90
src/hru_pathogen_output.f90
src/hru_pesticide_output.f90
src/hru_read.f90
src/hru_salt_output.f90
src/hru_sweep.f90
src/hru_urb_bmp.f90
src/hru_urban.f90
src/hru_urbanhr.f90
src/hrudb_init.f90
src/hyd_connect_out.f90
src/hyd_connect.f90
src/hyd_read_connect.f90
src/hyddep_output.f90
src/hydin_output.f90
src/hydout_output.f90
src/hydro_init.f90
src/hydrograph_module.f90
src/hydrol_read.f90
src/hydrology_data_module.f90
src/icl.f90
src/input_file_module.f90
src/jdt.f90
src/landuse_data_module.f90
src/landuse_read.f90
src/layersplit.f90
src/lcu_read_softcal.f90
src/ls_read_parms_cal.f90
src/lsreg_output.f90
src/lsu_output.f90
src/lsu_read_elements.f90
src/main.f90.in
src/mallo_control.f90
src/manure_allocation_module.f90
src/manure_allocation_read.f90
src/manure_demand_output.f90
src/manure_parm_read.f90
src/manure_source_output.f90
src/maximum_data_module.f90
src/mgt_harvbiomass.f90
src/mgt_harvgrain.f90
src/mgt_harvresidue.f90
src/mgt_harvtuber.f90
src/mgt_killop.f90
src/mgt_newtillmix_wet.f90
src/mgt_newtillmix.f90
src/mgt_operations_module.f90
src/mgt_operatn.f90
src/mgt_plantop.f90
src/mgt_read_chemapp.f90
src/mgt_read_fireops.f90
src/mgt_read_grazeops.f90
src/mgt_read_harvops.f90
src/mgt_read_irrops.f90
src/mgt_read_mgtops.f90
src/mgt_read_puddle.f90
src/mgt_read_sweepops.f90
src/mgt_sched.f90
src/mgt_tillfactor.f90
src/mgt_transplant.f90
src/nut_denit.f90
src/nut_nitvol.f90
src/nut_nlch.f90
src/nut_nminrl.f90
src/nut_np_flow.f90
src/nut_nrain.f90
src/nut_orgn.f90
src/nut_orgnc.f90
src/nut_orgnc2.f90
src/nut_pminrl.f90
src/nut_pminrl2.f90
src/nut_psed.f90
src/nut_solp.f90
src/nuts.f90
src/obj_output.f90
src/object_read_output.f90
src/om_treat_read.f90
src/om_use_read.f90
src/om_water_init.f90
src/organic_mineral_mass_module.f90
src/output_landscape_init.f90
src/output_landscape_module.f90
src/output_ls_pathogen_module.f90
src/output_ls_pesticide_module.f90
src/output_ls_salt_module.f90
src/output_path_module.f90
src/overbank_read.f90
src/overland_n_read.f90
src/path_cha_res_read.f90
src/path_hru_aqu_read.f90
src/path_ls_process.f90
src/path_ls_runoff.f90
src/path_ls_swrouting.f90
src/path_parm_read.f90
src/pathogen_data_module.f90
src/pathogen_init.f90
src/pest_apply.f90
src/pest_cha_res_read.f90
src/pest_decay.f90
src/pest_enrsb.f90
src/pest_hru_aqu_read.f90
src/pest_lch.f90
src/pest_metabolite_read.f90
src/pest_parm_read.f90
src/pest_pesty.f90
src/pest_pl_up.f90
src/pest_soil_tot.f90
src/pest_washp.f90
src/pesticide_data_module.f90
src/pesticide_init.f90
src/pl_biomass_gro.f90
src/pl_burnop.f90
src/pl_community.f90
src/pl_dormant.f90
src/pl_fert_wet.f90
src/pl_fert.f90
src/pl_graze.f90
src/pl_grow.f90
src/pl_leaf_gro.f90
src/pl_leaf_senes.f90
src/pl_manure.f90
src/pl_mortality.f90
src/pl_nfix.f90
src/pl_nup.f90
src/pl_nupd.f90
src/pl_nut_demand.f90
src/pl_partition.f90
src/pl_pup.f90
src/pl_pupd.f90
src/pl_read_parms_cal.f90
src/pl_read_regions_cal.f90
src/pl_root_gro.f90
src/pl_rootfr.f90
src/pl_seed_gro.f90
src/pl_tstr.f90
src/pl_waterup.f90
src/pl_write_parms_cal.f90
src/plant_all_init.f90
src/plant_data_module.f90
src/plant_init.f90
src/plant_module.f90
src/plant_parm_read.f90
src/plant_transplant_read.f90
src/plantparm_init.f90
src/proc_aqu.f90
src/proc_bsn.f90
src/proc_cal.f90
src/proc_cha.f90
src/proc_cond.f90
src/proc_date_time.f90
src/proc_db.f90
src/proc_hru.f90
src/proc_open.f90
src/proc_read.f90
src/proc_res.f90
src/qman.f90
src/rcurv_interp_dep.f90
src/rcurv_interp_flo.f90
src/re_initialize.f90
src/read_mgtops.f90
src/readcio_read.f90
src/readpcom.f90
src/rec_read_elements.f90
src/recall_cs.f90
src/recall_module.f90
src/recall_nut.f90
src/recall_output.f90
src/recall_read_cs.f90
src/recall_read_salt.f90
src/recall_read.f90
src/recall_salt.f90
src/reg_read_elements.f90
src/regres.f90
src/res_allo.f90
src/res_control.f90
src/res_cs_module.f90
src/res_cs_output.f90
src/res_cs.f90
src/res_hydro.f90
src/res_initial.f90
src/res_nutrient.f90
src/res_objects.f90
src/res_pest.f90
src/res_pesticide_module.f90
src/res_pesticide_output.f90
src/res_read_conds.f90
src/res_read_csdb.f90
src/res_read_elements.f90
src/res_read_hyd.f90
src/res_read_init.f90
src/res_read_nut.f90
src/res_read_salt_cs.f90
src/res_read_saltdb.f90
src/res_read_sed.f90
src/res_read_weir.f90
src/res_read.f90
src/res_rel_conds.f90
src/res_salt_module.f90
src/res_salt_output.f90
src/res_salt.f90
src/res_sediment.f90
src/res_weir_release.f90
src/reservoir_conditions_module.f90
src/reservoir_data_module.f90
src/reservoir_module.f90
src/reservoir_output.f90
src/rls_routeaqu.f90
src/rls_routesoil.f90
src/rls_routesurf.f90
src/rls_routetile.f90
src/rsd_decomp.f90
src/rte_read_nut.f90
src/ru_control.f90
src/ru_cs_output.f90
src/ru_module.f90
src/ru_output.f90
src/ru_read_elements.f90
src/ru_read.f90
src/ru_salt_output.f90
src/salt_aqu_read.f90
src/salt_aquifer.f90
src/salt_balance.f90
src/salt_cha_read.f90
src/salt_chem_aqu.f90
src/salt_chem_hru.f90
src/salt_chem_soil_single.f90
src/salt_data_module.f90
src/salt_fert_read.f90
src/salt_fert_wet.f90
src/salt_fert.f90
src/salt_hru_init.f90
src/salt_hru_read.f90
src/salt_irr_read.f90
src/salt_irrig.f90
src/salt_lch.f90
src/salt_module.f90
src/salt_plant_read.f90
src/salt_rain.f90
src/salt_roadsalt_read.f90
src/salt_roadsalt.f90
src/salt_uptake_read.f90
src/salt_uptake.f90
src/salt_urban_read.f90
src/sat_buff_read.f90
src/scen_read_bmpuser.f90
src/scen_read_filtstrip.f90
src/scen_read_grwway.f90
src/sd_chanbud_output.f90
src/sd_chanmorph_output.f90
src/sd_channel_control3.f90
src/sd_channel_module.f90
src/sd_channel_output.f90
src/sd_channel_read.f90
src/sd_channel_sediment3.f90
src/sd_channel_surf_link.f90
src/sd_hydsed_init.f90
src/sd_hydsed_read.f90
src/sd_rating_curve.f90
src/sdr_read.f90
src/se_reactions_aquifer.f90
src/se_reactions_soil.f90
src/search.f90
src/sep_biozone.f90
src/sep_read.f90
src/septic_data_module.f90
src/septic_parm_read.f90
src/sim_initday.f90
src/smp_bmpfixed.f90
src/smp_buffer.f90
src/smp_filter.f90
src/smp_grass_wway.f90
src/snowdb_read.f90
src/soil_awc_init.f90
src/soil_carbvar_write.f90
src/soil_data_module.f90
src/soil_db_read.f90
src/soil_lte_db_read.f90
src/soil_module.f90
src/soil_nutcarb_init.f90
src/soil_nutcarb_module.f90
src/soil_nutcarb_write.f90
src/soil_phys_init.f90
src/soil_plant_init.f90
src/soil_text_init.f90
src/soils_init.f90
src/soils_test_adjust.f90
src/solt_db_read.f90
src/sq_canopyint.f90
src/sq_crackflow.f90
src/sq_crackvol.f90
src/sq_dailycn.f90
src/sq_daycn.f90
src/sq_greenampt.f90
src/sq_snom.f90
src/sq_surfst.f90
src/sq_volq.f90
src/stmp_solt.f90
src/stor_surfstor.f90
src/structure_init.f90
src/structure_set_parms.f90
src/surface.f90
src/swift_output.f90
src/swr_depstor.f90
src/swr_drains.f90
src/swr_latsed.f90
src/swr_origtile.f90
src/swr_percmacro.f90
src/swr_percmain.f90
src/swr_percmicro.f90
src/swr_satexcess.f90
src/swr_substor.f90
src/swr_subwq.f90
src/theta.f90
src/tiles_data_module.f90
src/till_parm_read.f90
src/tillage_data_module.f90
src/time_conc_init.f90
src/time_control.f90
src/time_module.f90
src/time_read.f90
src/topo_read.f90
src/topography_data_module.f90
src/topohyd_init.f90
src/ttcoef_wway.f90
src/unit_hyd_ru_hru.f90
src/unit_hyd.f90
src/urban_data_module.f90
src/urban_parm_read.f90
src/utils.f90
src/varinit.f90
src/wallo_allo_output.f90
src/wallo_control.f90
src/wallo_demand.f90
src/wallo_transfer.f90
src/wallo_treat_output.f90
src/wallo_treatment.f90
src/wallo_trn_output.f90
src/wallo_use_output.f90
src/wallo_use.f90
src/wallo_withdraw.f90
src/water_allocation_module.f90
src/water_allocation_read.f90
src/water_body_module.f90
src/water_pipe_read.f90
src/water_tower_read.f90
src/water_treatment_read.f90
src/water_use_read.f90
src/wet_all_initial.f90
src/wet_cs_output.f90
src/wet_cs.f90
src/wet_fp_init.f90
src/wet_initial.f90
src/wet_irrp.f90
src/wet_read_hyd.f90
src/wet_read_salt_cs.f90
src/wet_read.f90
src/wet_salt_output.f90
src/wet_salt.f90
src/wetland_control.f90
src/wetland_output.f90
src/wq_k2m.f90
src/wq_semianalyt.f90
src/xmon.f90
src/zero0.f90
src/zero1.f90
src/zero2.f90
src/zeroini.f90

# Ignore SWAT+ documentation output
swatplus_docs/
