<!-- -*- mode: jinja2 -*- -->

{% extends "base.html" %}
{% block title %}
All I/O Files &ndash; {{ project }}
{% endblock %}
{% block body %}
      <div class="row">
        <div class="col-lg-12" id='text'>
          <h1>I/O Files</h1>
          <p class="lead">List of all files accessed through I/O operations in the project.</p>
          
          {# Separate files by type #}
          {% set input_files = [] %}
          {% set output_files = [] %}
          {% set input_output_files = [] %}
          {% set unknown_files = [] %}
          
          {% for iofile in project.iofiles|sort(attribute='io_filename') %}
            {% if iofile.io_type == 'Input' %}
              {% set _ = input_files.append(iofile) %}
            {% elif iofile.io_type == 'Output' %}
              {% set _ = output_files.append(iofile) %}
            {% elif iofile.io_type == 'Input/Output' %}
              {% set _ = input_output_files.append(iofile) %}
            {% else %}
              {% set _ = unknown_files.append(iofile) %}
            {% endif %}
          {% endfor %}
          
          {# Display Input Files #}
          {% if input_files %}
          <h2>Input Files</h2>
          <table class="table table-striped">
            <thead><tr><th>Filename</th><th>Unit</th><th>Used By</th></tr></thead>
            <tbody>
              {% for iofile in input_files %}
                <tr>
                  <td><a href="{{ project_url }}/{{ iofile.get_url() }}">{{ iofile.io_filename }}</a></td>
                  <td><code>{{ iofile.unit }}</code></td>
                  <td>{{ iofile.procedures|length }} procedure(s)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          
          {# Display Output Files #}
          {% if output_files %}
          <h2>Output Files</h2>
          <table class="table table-striped">
            <thead><tr><th>Filename</th><th>Unit</th><th>Used By</th></tr></thead>
            <tbody>
              {% for iofile in output_files %}
                <tr>
                  <td><a href="{{ project_url }}/{{ iofile.get_url() }}">{{ iofile.io_filename }}</a></td>
                  <td><code>{{ iofile.unit }}</code></td>
                  <td>{{ iofile.procedures|length }} procedure(s)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          
          {# Display Input/Output Files #}
          {% if input_output_files %}
          <h2>Input/Output Files</h2>
          <table class="table table-striped">
            <thead><tr><th>Filename</th><th>Unit</th><th>Used By</th></tr></thead>
            <tbody>
              {% for iofile in input_output_files %}
                <tr>
                  <td><a href="{{ project_url }}/{{ iofile.get_url() }}">{{ iofile.io_filename }}</a></td>
                  <td><code>{{ iofile.unit }}</code></td>
                  <td>{{ iofile.procedures|length }} procedure(s)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          
          {# Display Unknown Files if any #}
          {% if unknown_files %}
          <h2>Unknown Type</h2>
          <table class="table table-striped">
            <thead><tr><th>Filename</th><th>Unit</th><th>Used By</th></tr></thead>
            <tbody>
              {% for iofile in unknown_files %}
                <tr>
                  <td><a href="{{ project_url }}/{{ iofile.get_url() }}">{{ iofile.io_filename }}</a></td>
                  <td><code>{{ iofile.unit }}</code></td>
                  <td>{{ iofile.procedures|length }} procedure(s)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          
        </div>
      </div>
{% endblock %}
