<!-- -*- mode: jinja2 -*- -->

{% extends "base.html" %}
{% block title %}{{ procedure.name }} &ndash; {{ project }}{% endblock title %}
{% block body %}
  {% import 'macros.html' as macros %}
  <div class="row">
    <h1>{{ procedure.name }}
      <small>{%if procedure.module %}Module {% endif %}{% if not procedure.mp %}{{ procedure.proctype }}{% else %}Procedure{% endif %}</small>
      {{ macros.deprecated(procedure) }}
    </h1>
    {{
    macros.info_bar(procedure, incl_src, project_url, procedure.lines_description(project.proc_lines)) }}
  </div>
  
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm visible-md visible-lg">
    {{ macros.sidebar(project,procedure) }}
    </div>
    
    <div class="col-md-9" id='text'>
    <h2>{{ macros.proc_line(procedure,False) }}</h2>
    {{ macros.use_list(procedure) }}

    {% if procedure.doc %}
    {{ procedure.doc }}
    {% endif %}

    {% if procedure.binding %}
    <h3>Type Bound</h3>
    <p>{{ procedure.binding.parent | relurl(page_url) }}</p>
    {% endif %}

    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#arguments-section" 
         aria-expanded="true" 
         aria-controls="arguments-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Arguments
        </h3>
      </a>
      <div id="arguments-section" class="collapse show">
        <div class="card-body">
          {% if procedure.args %}
            {{ macros.variable_list(procedure.args, intent=True) }}
          {% else %}
            <em>None</em>
          {% endif %}
        </div>
      </div>
    </div>
    {% if procedure.retvar %}
      <h3>Return Value
        <small>
          <span class="anchor" id="{{ procedure.retvar.anchor }}"></span>
          {{ procedure.retvar.full_declaration | relurl(page_url) }}
        </small>
      </h3>
      {{ procedure.retvar.doc }}
    {% endif %}

    {% if procedure.io_operations %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#inputs-outputs-section" 
         aria-expanded="false" 
         aria-controls="inputs-outputs-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Inputs and Outputs
        </h3>
      </a>
      <div id="inputs-outputs-section" class="collapse">
        <div class="card-body">
          {{ macros.io_file_summary(procedure.io_operations) }}
          {{ macros.io_parameters_accessed(procedure.io_operations) }}
          
          <div class="card mb-3 mt-3">
            <a data-bs-toggle="collapse" href="#io-operations-section" 
               aria-expanded="false" 
               aria-controls="io-operations-section" 
               class="text-decoration-none">
              <h4 class="card-header bg-light text-dark">
                <i class="fa fa-caret-down me-2"></i>I/O Operations
              </h4>
            </a>
            <div id="io-operations-section" class="collapse">
              <div class="card-body">
                {{ macros.io_operations_list(procedure.io_operations, procedure) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if procedure.local_variables %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#local-variables-section" 
         aria-expanded="false" 
         aria-controls="local-variables-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Local Variables
        </h3>
      </a>
      <div id="local-variables-section" class="collapse">
        <div class="card-body">
          {{ macros.variable_list(procedure.local_variables, permission=True) }}
        </div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if procedure.outside_variables_used %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#outside-variables-section" 
         aria-expanded="false" 
         aria-controls="outside-variables-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Outside Variables and Types Used
        </h3>
      </a>
      <div id="outside-variables-section" class="collapse">
        <div class="card-body">
          {{ macros.outside_variables_list(procedure.outside_variables_used) }}
        </div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if procedure.allocation_operations %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#allocations-section" 
         aria-expanded="false" 
         aria-controls="allocations-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Allocations
        </h3>
      </a>
      <div id="allocations-section" class="collapse">
        <div class="card-body">
          {{ macros.allocation_operations_list(procedure.allocation_operations) }}
        </div>
      </div>
    </div>
    <br>
    {% endif %}

    {% if procedure.calledbygraph or procedure.callsgraph %}
    <br>
    {% endif %}
    {% if procedure.callsgraph %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#calls-section" 
         aria-expanded="false" 
         aria-controls="calls-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Calls
        </h3>
      </a>
      <div id="calls-section" class="collapse">
        <div class="card-body">
          {{ procedure.callsgraph }}
        </div>
      </div>
    </div>
     {% endif %}
     {% if procedure.calledbygraph %}
    <div class="card mb-3">
      <a data-bs-toggle="collapse" href="#called-by-section" 
         aria-expanded="false" 
         aria-controls="called-by-section" 
         class="text-decoration-none">
        <h3 class="card-header bg-light text-dark">
          <i class="fa fa-caret-down me-2"></i>Called by
        </h3>
      </a>
      <div id="called-by-section" class="collapse">
        <div class="card-body">
          {{ procedure.calledbygraph }}
        </div>
      </div>
    </div>
     {% endif %}
    <br>

    {% if procedure.common %}
    <section>
      <h2>Common Blocks</h2>
      {% for com in procedure.common %}
      {{ macros.common_block(com) }}
      {% endfor %}
    </section>
    <br>
    <script>
      $(function () {
      $('[data-bs-toggle="popover"]').popover()
      })
    </script>
    {% endif %}

    {% if procedure.non_local_variables %}
    <section>    
      <h2>Variables</h2>
    {{ macros.variable_list(procedure.non_local_variables, permission=True) }}
    </section>
    <br>
    {% endif %}
    
    {% if procedure.enums %}
    <section>
    <h2>Enumerations</h2>
    {% for enum in procedure.enums %}
      {{ macros.enum_entry(enum) }}
    {% endfor %}
    </section>
    <br>
    {% endif %}
    
    {% if procedure.interfaces %}
  <section> 
     <h2>Interfaces</h2>
   {% for intr in procedure.interfaces %}
     {{ macros.interface(intr) }}
    {% endfor %}
    </section>
   <br>
    {% endif %}

    {% if procedure.absinterfaces %}
    <section>
   <h2>Abstract Interfaces</h2>
   {% for intr in procedure.absinterfaces %}
     {{ macros.absinterface(intr) }}
    {% endfor %}
    </section>
   <br>
    {% endif %}
    
    {% if procedure.types %}
    <section>
   <h2>Derived Types</h2>
   {% for type in procedure.types %}
     {{ macros.type_summary(type) }}
    {% endfor %}
    </section>
   <br>
    {% endif %}
    
    {% if procedure.functions %} 
    <section>
    <h2>Functions</h2>
    {% for proc in procedure.functions %}
    {{ macros.proc_entry(proc) }}
    {% endfor %}
    </section>
    <br>
    {% endif %}


    {% if procedure.subroutines %}
    <section>
    <h2>Subroutines</h2>
    {% for proc in procedure.subroutines %}
    {{ macros.proc_entry(proc) }}
    {% endfor %}
    </section>    
    {% endif %}

    {% if procedure.namelists %}
      <section>
        <h2>Namelists</h2>
        {% for namelist in procedure.namelists %}
          {{ macros.namelist_panel(namelist) }}
        {% endfor %}
      </section>
    {% endif %}
    
    {% if procedure.src %}
    <section>
    <h2><span class="anchor" id="src"></span>Source Code</h2>
    {{ procedure.src }}
    </section>
    <br>
    {% endif %}
    
    </div>
  </div>

{% endblock body %}
